body{

font-family:Arial;
background:linear-gradient(120deg,#c777e9e2,#764ba2);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
margin:0;

}

.quiz-container{

background:rgba(255,255,255,0.15);
backdrop-filter:blur(10px);
padding:30px;
border-radius:15px;
width:400px;
color:white;
text-align:center;
box-shadow:0 20px 40px rgba(0,0,0,0.3);
animation:fadeIn 1s;
position:relative;

}

h1{
margin-bottom:20px;
}

#question{

font-size:20px;
margin-bottom:20px;

}

.options button{

display:block;
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
transition:0.3s;

}

.options button:hover{

transform:scale(1.05);

}

.correct{
background:#28a745;
color:white;
}

.wrong{
background:#dc3545;
color:white;
}

#next{

margin-top:15px;
padding:12px 20px;
border:none;
background:#ffcc00;
border-radius:8px;
cursor:pointer;
font-size:16px;
transition:0.3s;

}

#next:hover{
transform:scale(1.1);
}

.progress-bar{

width:100%;
background:#ddd;
height:10px;
border-radius:5px;
margin-bottom:20px;

}

#progress{

height:10px;
width:0%;
background:#00ffcc;
border-radius:5px;

}

.timer{
margin-bottom:10px;
font-size:18px;
}

.hidden{
display:none;
}

#result-box{

background:white;
color:black;
padding:40px;
border-radius:15px;
text-align:center;
animation:pop 0.8s;

}

#themeToggle{

position:absolute;
top:20px;
right:20px;
border:none;
background:white;
padding:8px 12px;
border-radius:8px;
cursor:pointer;

}

.dark{

background:#121212;
color:white;

}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(20px)
}

to{
opacity:1
}

}

@keyframes pop{

0%{
transform:scale(0.5)
}

100%{
transform:scale(1)
}

}